PORT=
DB_URI_MONGO=
DB_URI=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
SECRET_KEY=
APP_PASSWORD=
APP_GMAIL=
SALT=
REDIS_URI=
AWS_FOLDER=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=
CRYPTO_KEY=
MAPS_API=
OPEN_AI_KEY=
GROQ_API=